@media screen and (min-width: 480px) {
	
	/**************************
	Nav
	**************************/
	.logo {
		text-align: left;
		margin: 0 10px;
		color: #000;
	}



	/**************************
	Portfolio
	**************************/
	h1 {
		font-size: 60px;
	}
	
	/**************************
	About
	**************************/
	.profilePhoto {
		display: block;
		max-width: 300px;
		margin: 0 auto 30px;
		border-radius: 100%;
		border-color: #63283a; 
	}

	/**************************
	Contact
	**************************/
	.primary {
		width: auto;
	}

}





@media screen and (min-width: 780px) {
	
	nav li {
		padding: 0 10px;
		font-size: 25px;
	}

	.profilePhoto {
		float: center;
		margin: auto;
	}

	.contactBlock {
		font-size: 1.50em;
	}

}