/**************************
General
**************************/
a {
	text-decoration: none;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

img {
	max-width: 100%;
}

p {
	line-height: 1.7;
	letter-spacing: 1px;
}

h2 {
	letter-spacing: 2px;
}


/**************************
Colours
**************************/
 
/* site body */
body {
	background-color: #fff;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	padding: 0;
}

header {
	background: #fff;
}

nav {
	background: #fff;
}


/**************************
Heading
**************************/
header {
	margin: 0 0 40px 0;
	padding: 10px 0 0 0;
	width: 100%;
}

.logo {
	text-align: left;
	margin: 0 30px 0 50px;
	color: #000;
}


/**************************
Nav Bar
**************************/
nav {
	text-align: left;
	padding: 10px 0;
	margin: 30px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
	display: inline-block;
}

nav li {
	display: inline-block;
}

nav a {
	color: #000;
	padding: 5px;
	letter-spacing: 3px;
	font-size: 0.50em;
}

nav a.selected, a:hover {
	color: #214438;
}


/**************************
Footer
**************************/
footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 60px;
}

.socialIcon {
	width: 20px;
	height: 20px;
	margin: 0 5px
}


/**************************
Portfolio
**************************/
h1 {
	text-align: center;
	margin: 0 0 50px 0;
}

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-bottom: 20%;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
}

#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #000;
	text-align: center;
}

#gallery img {
	width: ;
	height: ;
}


/**************************
Portfolio Pages
**************************/

#wrapper2 {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

img {
	max-width: 100%;
}

p {
	line-height: 1.7;
	letter-spacing: 1px;
}

h2 {
	text-align: center;
}

h4 {
	letter-spacing: 5px;
	text-align: center;
	background: #3b4736;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
    border-radius: 12px;
    padding: 15px 32px;
}


/**************************
About Page
**************************/
.profilePhoto {
	display: block;
	max-width: 150px;
	margin: 0 auto 30px;
	border-radius: 100%;
	border-color: #63283a; 
}

#aboutp {
	text-align: left;
}


/**************************
Contact Page
**************************/
.primary {
	text-align: center;
}

.contactInfo {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
	text-align: center;
}

.contactInfo a {
	color: #214438;
}

.contactInfo a:hover {
	color: #000;
}

.contactBlock {
	clear: both;
	background: #214438;
	padding: 50px 20px;
	margin: 40px 0 0 0;
}

.contactBlock h5 {
	text-align: center;
	color: #fff;
	font-weight: 100;
	letter-spacing: 2px;
}










